In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import mean_squared_error as mse

In [2]:
df1=pd.read_csv(r"C:\Users\Asit Singh\OneDrive\Documents\CS\ML\event datasets\event datasets\Book(i4).csv")
df2=pd.read_csv(r"C:\Users\Asit Singh\OneDrive\Documents\CS\ML\event datasets\event datasets\Book(i48).csv")
df3=pd.read_csv(r"C:\Users\Asit Singh\OneDrive\Documents\CS\ML\event datasets\event datasets\Book1.csv")
df4=pd.read_csv(r"C:\Users\Asit Singh\OneDrive\Documents\CS\ML\event datasets\event datasets\Book3.csv")
df5=pd.read_csv(r"C:\Users\Asit Singh\OneDrive\Documents\CS\ML\event datasets\event datasets\Book5.csv")

In [3]:
frames=[df1,df2,df4]
df=pd.concat(frames,axis=1)
df.head()

,Time (s),CO (ppm),Humidity (%r.h.),Temperature (C),Flow rate (mL/min),Heater voltage (V),R1 (MOhm),R2 (MOhm),R3 (MOhm),R4 (MOhm),R9 (MOhm),R10 (MOhm),R11 (MOhm),R12 (MOhm)
0,0.000,0.0,49.7534,23.7184,233.2737,0.8993,NaN,NaN,1.1493,NaN,NaN,1.9148,3.4651,5.2144
1,0.309,0.0,55.8400,26.6200,241.6323,0.2112,2.1314,5.3552,9.7569,6.3188,16.1902,24.2780,31.1014,34.7193
2,0.618,0.0,55.8400,26.6200,241.3888,0.2070,10.5318,22.5612,37.2635,17.7848,31.7533,57.7289,53.6275,56.9212
3,0.926,0.0,55.8400,26.6200,241.1461,0.2042,29.5749,NaN,NaN,NaN,NaN,66.0832,66.8349,NaN
4,1.234,0.0,NaN,NaN,NaN,0.2030,49.5111,67.0368,77.8317,27.9625,NaN,68.1441,62.0947,49.4614

In [4]:
df.dropna(subset=["CO (ppm)"],inplace=True)

In [5]:
df.shape

(295719, 14)

In [6]:
y=df["CO (ppm)"]
temp=df
x=temp.drop(["CO (ppm)"],axis=1)

In [7]:
y.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: CO (ppm), dtype: float64

In [8]:
x.head()

,Time (s),Humidity (%r.h.),Temperature (C),Flow rate (mL/min),Heater voltage (V),R1 (MOhm),R2 (MOhm),R3 (MOhm),R4 (MOhm),R9 (MOhm),R10 (MOhm),R11 (MOhm),R12 (MOhm)
0,0.000,49.7534,23.7184,233.2737,0.8993,NaN,NaN,1.1493,NaN,NaN,1.9148,3.4651,5.2144
1,0.309,55.8400,26.6200,241.6323,0.2112,2.1314,5.3552,9.7569,6.3188,16.1902,24.2780,31.1014,34.7193
2,0.618,55.8400,26.6200,241.3888,0.2070,10.5318,22.5612,37.2635,17.7848,31.7533,57.7289,53.6275,56.9212
3,0.926,55.8400,26.6200,241.1461,0.2042,29.5749,NaN,NaN,NaN,NaN,66.0832,66.8349,NaN
4,1.234,NaN,NaN,NaN,0.2030,49.5111,67.0368,77.8317,27.9625,NaN,68.1441,62.0947,49.4614

In [9]:
X_train, X_test, Y_train, Y_test= train_test_split(x,y,test_size=0.2,random_state=33)

In [10]:
X_missing_col=df.columns[df.isna().any()].tolist()

In [11]:
from sklearn.impute import SimpleImputer

simple_imputer=SimpleImputer(strategy='mean')
X_rev_train=pd.DataFrame(simple_imputer.fit_transform(X_train))
X_rev_test=pd.DataFrame(simple_imputer.transform(X_test))

X_rev_train.columns=X_train.columns
X_rev_test.columns=X_test.columns

In [12]:
X_rev_test.columns

Index(['Time (s)', 'Humidity (%r.h.)', 'Temperature (C)', 'Flow rate (mL/min)',
       'Heater voltage (V)', 'R1 (MOhm)', 'R2 (MOhm)', 'R3 (MOhm)',
       'R4 (MOhm)', 'R9 (MOhm)', 'R10 (MOhm)', 'R11 (MOhm)', 'R12 (MOhm)'],
      dtype='object')

In [ ]:
mod=RandomForestRegressor(n_estimators=40, random_state=1)
mod.fit(X_rev_train,Y_train)
y_pred=mod.predict(X_rev_test)
val=mse(y_pred,Y_test)

In [ ]:
print(val)

In [ ]:
mod.score(X_rev_train,Y_train)

In [ ]:
test_df=pd.read_csv(r"C:\Users\Asit Singh\OneDrive\Documents\CS\ML\event datasets\event datasets\testing set.csv")

In [ ]:
test_col=[col for col in test_df.columns
         if col not in X_rev_train.columns]
test_col

In [ ]:
test_df.drop(test_col,axis=1,inplace=True)
test_df.head()

In [ ]:
final_df = pd.DataFrame(columns=X_rev_train.columns)
for col in X_rev_train.columns:
    final_df[col]=test_df[col]

In [ ]:
X_rev_train.columns

In [ ]:
l=final_df.columns

In [ ]:
final_df=pd.DataFrame(simple_imputer.transform(final_df))
final_df.columns=l

In [ ]:
y_final=mod.predict(final_df)
y_final

In [ ]:
test=pd.DataFrame(y_final)
test.columns=["CO (ppm)"]

In [ ]:
test.to_csv("data3.csv",index=False)